body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  padding: 40px;
  background-color: #f5f5f5;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

p {
  line-height: 1.8;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 1000px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 50px -8px rgba(176,175,186,1);
}

.aside {
  width: 300px;
  background-color: #1c283e;
}

.photo {
  width: 300px;
  height: 400px;
}

.details {
  padding-top: 80px;
  padding-left: 30px;
  color: #ffffff;
}

.details-title {
  font-size: 22px;
  padding-bottom: 10px;
}

.contacts-list,
.skills-list {
  padding: 0;
  padding-bottom: 45px;
  list-style: none;
}

.contacts-item {
  padding-top: 5px;
}

.contacts-item::before {
  position: relative;
  top: 6px;
  width: 24px;
  height: 24px;
  color: #f4892b;
}

.contacts-item:first-child::before {
  content: url('./assets/smartphone.svg'); 
}

.contacts-item:nth-child(2)::before {
  content: url('./assets/telegram.svg');
}

.contacts-item:nth-child(3)::before {
  content: url('./assets/mail.svg');
}

.contacts-item:nth-child(4)::before {
  content: url('./assets/github.svg');
}

.link {
  text-decoration: none;
  margin-left: 10px;
  align-self: flex-start;
  color: #ffffff;
  opacity: 0.8;
}

.link:hover {
  color: #f4892b;
}

.skills-item {
  padding: 5px 15px;
  text-indent: -15px;
}

.skills-item::before {
  content: "\2022";
  margin-right: 8px;
  color: #f4892b;
  font-size: 18px;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 70px 40px 40px 70px;
  width: 700px;
}

.name {
  font-size: 38px;
}

.info {
  margin-top: 60px;
}

.info-section {
  padding-bottom: 40px;
}

.title {
  padding-bottom: 5px;
  font-weight: 600;
  font-size: 30px;
  font-weight: 600;
}

.subtitle {
  padding-top: 15px;
  padding-bottom: 2px;
  font-size: 22px;
  font-weight: 600;
}

.title + .subtitle {
  padding-top: 10px;
}

.accent {
  color: #14848c;
}

.description
.profile-description {
  padding-bottom: 5px;
}

.job-item,
.description {
  color: #4b4b4b;
}

.job-item {
  padding-top: 10px;
}

.description {
  padding-left: 15px;
}

.time {
  color: #828282;
  font-size: 16px;
}
